<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get crypto currency</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="inPUT" id="" value="<%=content  %>">
        <input type="submit" value="GET CRYPTO SYMBOL" formaction="/getName">
        <input type="submit" value="GET CRYPTO DETAILS" formaction="/getDetails">
    </form>
</body>
</html>